<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8" />

</head>

<body>
    
    <form id="registrazione" action="/action_page.php" target="_blan">
        Nome: <input type="text" name="fname"><br>
        Cognome: <input type="text" name="lname"><br>

        Sesso:
        <input type="radio" name="sex" checked="false">M
        <input type="radio" name="sex" checked="false">F<br>
        Data di nascita: <input type="text" name="data" href="calendario.html"><br>
        Codice fiscale: <input type="text" name="cfname"><br>

    </form>
    
    <script>
        function registrazioneJS(){
            document.getElementById("registrazione").submit();
        }
    </script>
</body>

</html>
